div.my-footer {
    background-color: #03BFDC;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 25px;
    width: 100%;
}

div.my-footer span {
    font-size: 12pt;
    color: #F7F8FA;
    position: absolute;
    left: 15px;
    bottom: 2px;
}

.remark-slide-number {
  font-size: 10pt;
  margin-bottom: -11.6px;
  margin-right: 10px;
  color: #FFFFFF; /* white */
  opacity: 1; /* default: 0.5 */
} 

.title-slide {
  background-image: url(img_url);
  background-size: cover;
}

a, h2 {
  color: #03BFDC;
}