div.my-footer {
    background-color: #03BFDC;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 25px;
    width: 100%;
}

div.my-footer span {
    font-size: 12pt;
    color: #F7F8FA;
    position: absolute;
    left: 15px;
    bottom: 2px;
    font-family: 'Yanone Kaffeesatz';
}

.remark-slide-number {
  font-size: 10pt;
  margin-bottom: -7px;
  margin-right: 10px;
  color: #FFFFFF; /* white */
  opacity: 1; /* default: 0.5 */
  font-family: 'Yanone Kaffeesatz';
} 

.title-slide {
  background-image: url("img/mds_background.jpg");
  background-size: cover;
  text-shadow: none;
}

a, h1, h2, h3 {
  color: #03BFDC;
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }


body { font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; }


